.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
*.log
*.sqlite
tmux/plugins
vim/plugged
vim/.netrwhist
.DS_Store
karabiner/automatic_backups
bash/.bash_utils/completions
