.ipython/profile_default/db
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/security
*.log
*.sqlite
tmux/plugins
vim/plugged
vim/.netrwhist
.DS_Store
karabiner/automatic_backups
bash/.bash_utils/completions
aichat/rags
aichat/sessions
aichat/roles
aichat/.env
aichat/messages.md
.DS_Store
lazygit/state.yml
.DS_Store
.DS_Store
gemini/tmp/
gemini/oauth_creds.json
gemini/installation_id
gemini/google_account_id
claude/ide
claude/projects
claude/shell-snapshots
claude/statsig
claude/todos
zellij/*.bak*
tmux/tmux.conf
claude/file-history
claude/history.jsonl
claude/debug
claude.json
claude/cache
claude/paste-cache
claude/plugins/marketplaces/claude-plugins-official
claude/tasks
claude/telemetry
claude/stats-cache.json
gemini/state.json
